<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Import the Bootstrap stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Import custom stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/level.css') }}">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <main>
        {% block main %}{% endblock %}
    </main>

    {% block script %}{% endblock %}
    <!-- Import Bootstrap bundle -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <!-- Import custom JavaScript -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>