{% extends "public/templates/level_template.html" %}

{% block title %}Play{% endblock %}

{% block main %}

<p>use wasd to move</p>
<div class='level'>
  <div class='camera'>
    <div class='map'>
      <div class='character' facing='down' walking='false'>
        <div class="character_spritesheet"></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
<script>
  // use with function from external js
  var mazeHex = "{{ mazeHex | safe}}";
  var mapSize = {{ mapSize | safe}};

</script>
{% endblock %}