{% extends "public/templates/level_template.html" %}

{% block title %}Lost Cause{% endblock %}

{% block main %}

<div class='level' id="shown">
    <div class='inventory'>
        <div class="slot" id="slot-0">
            <div class="slot_sprite"></div>
        </div>
        <div class="slot" id="slot-1">
            <div class="slot_sprite"></div>
        </div>
        <div class="slot" id="slot-2">
            <div class="slot_sprite"></div>
        </div>
        <div class="slot" id="slot-3">
            <div class="slot_sprite"></div>
        </div>
        <div class="slot" id="slot-4">
            <div class="slot_sprite"></div>
        </div>
    </div>
    <div class='camera'>
        <div class='map' style="background-image: url(/mazeimages/{{ mazeImage | safe }})">
            <div class='character' id="character-1" facing='down'>
                <div class="character_spritesheet"></div>
            </div>
        </div>
    </div>
</div>
<div class='end-screen' id="hidden">
    <div class="pop-out">
        <div class="message"></div>
        <button onClick="window.location.href=window.location.href">Try again?</button>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
  // use with function from external js
    let mazeSeed = "{{ mazeSeed | safe}}";

</script>
{% endblock %}