{% extends "public/templates/level_template.html" %}

{% block title %}Play{% endblock %}

{% block main %}

<p>level</p>
<div class='level'>
  <div class='camera'>
    <div class='map'>
      <div class='character' facing='down' walking='false'>
        <div class="character_spritesheet pixel-art"></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
<script>
  // use with function from external js
  getMazeData("{{spanningTree}}, {{mapSize}}")

</script>
{% endblock %}