
:root {
    --pixel-size: 2px;
    --grid-cell: calc( var(--pixel-size) * 16);
    --map_multiplier: 150
 }

@media( min-width: 700px ) {
    :root {
       --pixel-size: 3px;
    }
 }

@media( min-width: 1000px ) {
    :root {
       --pixel-size: 4px;
    }
}

body {
    cursor: url(../img/cursor.png) , auto;
    background-color:#5e1605;
    color: #c9a95d;
    font-family: monospace;
    font-weight: bold;
}

.title {
    color: #c9a95d;
    text-align: center;
    padding-top: 10%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 3%;
    padding: 10px;
  }

  
  button {
      background-color: #822510;
      border-color: #8c3a27;
      color: #c9a95d;
      font-family: fantasy;
    }
    
    .camera {
        width: calc(var(--pixel-size) * 224);
        height: calc(var(--pixel-size) * 224);
        overflow: hidden;
        background: #502102;
        position:relative;
        margin: auto;
        cursor: none;
    }
    
    .map {
        image-rendering: pixelated;
        background-image: url("/static/img/maze/fullmaze.png");
        background-size: 100%;
        /* TODO use variable in place of number */
        width: calc(var(--map_multiplier) * var(--grid-cell));
        height: calc(var(--map_multiplier) * var(--grid-cell));
    position: relative;
}

.character{
    color: transparent;
    position: absolute;
    overflow: hidden;
    width: calc(var(--pixel-size) * 20);
    height: calc(var(--pixel-size) * 20);
}

.character_spritesheet{
    background: url('/static/img/player-spritesheet.png') no-repeat no-repeat;
    background-size: 100%;
    height: calc(var(--pixel-size) * 80);
    width: calc(var(--pixel-size) * 80);
    position: absolute;
}

.character[facing="down"] .character_spritesheet {
    background-position-y: -80px;
}
.character[facing="left"] .character_spritesheet {
    background-position-y: -160px;
}
.character[facing="up"] .character_spritesheet {
    background-position-y: -240px;
}
.character[walking="true"] .character_spritesheet {
    animation: walkAnimation 0.6s steps(4) infinite; 
}
 
@keyframes walkAnimation {
    from {
        transform: translate3d(0%,0%,0);
    }
    to {
        transform: translate3d(-100%,0%,0);
    }
}
 
