
:root {
    --pixel-size: 1px;
    --grid-cell: calc( var(--pixel-size) * 64);
 }

@media( min-width: 750px ){
    :root{
        --pixel-size: 2px;
    }
}

@media( min-width: 1000px ) {
    :root {
       --pixel-size: 3px;
    }
 }

@media( min-width: 1400px ) {
    :root {
       --pixel-size: 4px;
    }
}

body {
    cursor: url(../img/cursor.png) , auto;
    background-color:#5e1605;
    color: #c9a95d;
    font-family: monospace;
    caret-color: transparent;
}

#shown{
    visibility: visible;
    pointer-events: all;
}

#hidden{
    visibility: hidden;
    pointer-events: none;
}

.title {
    color: #c9a95d;
    text-align: center;
    padding-top: 10%;
}

.end-screen {
    margin: auto;
    overflow: hidden;
    width: 100%;
    height: calc(var(--pixel-size) * 250);
    position: absolute;
}

.pop-out{
    margin-top: calc(var(--pixel-size) * 50);
    margin-left: calc(var(--pixel-size) * 80);;
    text-align: center;
    width: calc(var(--pixel-size) * 300);
    height: calc(var(--pixel-size) * 100);
}

.message{
    image-rendering: pixelated;
    background-size: 100%;
    width: calc(var(--pixel-size) * 300);
    height: calc(var(--pixel-size) * 42);
    text-align: center;
}

.score{
    font-family: fantasy;
    font-size: large;
}

button {
    margin-top: calc(var(--pixel-size) * 10);
    background-color: #822510;
    border-color: #8c3a27;
    color: #c9a95d;
    font-family: fantasy;
}

.level{
    margin-top: calc(var(--pixel-size) * 15);
    margin-left: calc(var(--pixel-size) * 80);
    overflow: hidden;
    position: absolute;
}


.inventory{
    image-rendering: pixelated;
    background-image: url("/static/img/inventory-bg.png");
    background-size: 100%;
    width: calc(var(--pixel-size) * 30);
    height: calc(var(--pixel-size) * 150);
    float: left;
    position: relative;

}

.camera {
    float: left;
    width: calc(var(--pixel-size) * 224);
    height: calc(var(--pixel-size) * 224);
    overflow: hidden;
    background: #502102;
    position:relative;
    margin-left: 10px;
    cursor: none;
}

.map {
    image-rendering: pixelated;

    background-size: 100%;
    width: calc((var(--map-width) * var(--grid-cell) * 2) - var(--grid-cell));
    height: calc((var(--map-height) * var(--grid-cell) * 2) - var(--grid-cell));
position: relative;
}

.health_bar{
    background-color: red;
    height: calc(var(--pixel-size) * 2 * 0.5);
    margin: auto
}

.enemy{
    width: calc(var(--pixel-size) * 18 * 0.5);
    height: calc(var(--pixel-size) * 16 * 0.5);
    position: absolute;
    overflow: hidden;
}

.enemy-spritesheet{
    image-rendering: pixelated;
    background-image: url("/static/img/slime-spritesheet.png");
    background-size: 100%;
    width: calc(var(--pixel-size) * 18 * 4);
    height: calc(var(--pixel-size) * 14 * 0.5);
    margin-top: calc(var(--pixel-size) * 1);;
    position: absolute;
}

.enemy[walking="true"][attacking="false"] .enemy-spritesheet{
    animation: walkAnimation 0.6s steps(4) infinite;
}

.enemy[attacking="true"] .enemy-spritesheet{
    animation: attackAnimation 0.2s steps(4);
}


.character{
    /*color: transparent;*/
    position: absolute;
    overflow: hidden;
    width: calc(var(--pixel-size) * 37 * 0.5);
    height: calc(var(--pixel-size) * 29 * 0.5);
}

.character_spritesheet{
    image-rendering: pixelated;
    background: url('/static/img/player-spritesheet.png') no-repeat no-repeat;
    background-size: 100%;
    height: calc(var(--pixel-size) * 27 * 2);
    width: calc(var(--pixel-size) * 37 * 4);
    margin-top: calc(var(--pixel-size) * 1);;
    position: absolute;
}

.character[facing="down"][attacking="false"] .character_spritesheet {
    background-position-y: calc(var(--pixel-size) * -13.5);
}
.character[facing="left"] .character_spritesheet {
    background-position-y: calc(var(--pixel-size) * -27);
}
.character[facing="up"][attacking="false"] .character_spritesheet {
    background-position-y: calc(var(--pixel-size) * -40.5);
}
.character[walking="true"][attacking="false"] .character_spritesheet {
    animation: walkAnimation 0.6s steps(4) infinite;
}
.character[attacking="true"] .character_spritesheet{
    animation: attackAnimation 0.2s steps(4);
}

.item{
    background-size: 100%;
    height: calc(var(--pixel-size) * 15);
    width: calc(var(--pixel-size) * 15);
    image-rendering: pixelated;
    position: absolute;
    overflow: hidden;
}

#key {
    background-image: url('/static/img/key.png');
}

#lock {
    background-image: url('/static/img/lock.png')
}

#sword {
    background-image: url('/static/img/sword.png');
}

.slot{
    image-rendering: pixelated;
    background-size: 100%;
    position: relative;
    width: calc(var(--pixel-size) * 30);
    height: calc(var(--pixel-size) * 30);
}

.slot_sprite{
    image-rendering: pixelated;
    background-size: 100%;
    position: absolute;
    width: calc(var(--pixel-size) * 20);
    height: calc(var(--pixel-size) * 20);
    margin-left: calc(var(--pixel-size) * 5);
    margin-top: calc(var(--pixel-size) * 5);
}

.slot[item='key'] .slot_sprite{
    background-image: url('/static/img/key.png');
}

.slot[item='sword'] .slot_sprite{
    background-image: url("/static/img/sword.png");
}

@keyframes walkAnimation {
    from {
        transform: translate3d(0%,0%,0);
    }
    to {
        transform: translate3d(-50%,0%,0);
    }
}

@keyframes attackAnimation {
    from {
        transform: translate3d(-50%, 0%, 0);
    }
    to{
        transform: translate3d(-100%, 0%, 0);
    }

}

