* {
    cursor: url(../img/cursor.png) , auto;
    caret-color: transparent;
} 

body {
    background-color:#5e1605;
    color: #c9a95d;
    font-family: monospace;
    font-weight: bold;
}

.title {
    color: transparent;
    text-align: center;
    padding-top: 10%;
}

#gamecomplete{
    margin-top: 5%;
    margin-left: 15%;
    image-rendering: pixelated;
    background-size: 100%;
    width: 70%;
    height: 10%;
    background-image: url(/static/img/gamecomplete.png);
}

.container {
    margin-left: 40%;
    width: 28%;
    padding: 10px;
  }

.custom-maze{
    padding: 20px;
    width: auto;
}

button {
    margin-left: 30%;
    background-color: #822510;
    border-color: #8c3a27;
    color: #c9a95d;
    font-family: fantasy;
}

input {
    color: #c9a95d;
    border-color: #8c3a27;
    background-color: #822510;
    caret-color: #c9a95d;
}